<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
			   <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
				 <match url="(.*)" /> 
				 <conditions> 
				   <add input="{HTTPS}" pattern="off" ignoreCase="true" />
				 </conditions> 
				 <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
			   </rule> 
			</rules>
            <outboundRules>
                <rule name="PiwikTracker" preCondition="html">
                    <match pattern="&lt;/body>" />
                    <action type="Rewrite" value="&lt;!-- Piwik -->&lt;script type=&quot;text/javascript&quot;>var pkBaseURL = ((&quot;https:&quot; == document.location.protocol) ? &quot; https://piwik.webcontrolcenter.com/ &quot; : &quot; http://piwik.webcontrolcenter.com/&quot;);document.write(unescape(&quot;%3Cscript src='&quot; + pkBaseURL + &quot;piwik.js' type='text/javascript'%3E%3C/script%3E&quot;));&lt;/script>&lt;script type=&quot;text/javascript&quot;>try {UrlDecode:%7B}var piwikTracker = Piwik.getTracker(pkBaseURL + &quot;piwik.php&quot;, 14843);piwikTracker.trackPageView();piwikTracker.enableLinkTracking();} catch( err ) {UrlDecode:%7B}}&lt;/script>&lt;noscript>&lt;p>&lt;img src=&quot;http://piwik.webcontrolcenter.com/piwik.php?idsite=14843&quot; style=&quot;border:0&quot; alt=&quot;&quot; />&lt;/p>&lt;/noscript>&lt;!-- End Piwik Tracking Code -->&lt;/body>" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
